logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
logfile
jdk-7u67-linux-x64.tar.gz
jdk-8u20-linux-x64.tar.gz
typesafe-activator-1.2.10.zip
.vagrant/
