#!/usr/bin/env bash

touch /home/vagrant/.ssh/config
chown vagrant:vagrant /home/vagrant/.ssh/config
chmod 600 /home/vagrant/.ssh/config

cat << 'EOF' > /home/vagrant/.ssh/config
Host vagrant-ubuntu-trusty-64
   ForwardAgent yes
StrictHostKeyChecking no
EOF
exit 0
