@main("Add item for sale") {
  <form action="@routes.Items.create()" method="post">
    <div>
      <label for="name">Name</label>
      <input id="name" name="name" value="Test">
    </div>
    <div>
      <label for="size">Size</label>
      <input id="size" name="size" value="13T"/>
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" name="price" value="3.00"/>
    </div>
    <div class="buttons">
      <button type="submit">Create</button>
    </div>
    <input type="hidden" id="id" name="id" value="-1"/>
  </form>
  <p><a href="@routes.Items.index">Back</a></p>
}
